<h1>Edit task</h1>

<div class="card card-body bg-light">
    <form #formTask="ngForm">
        <div class="form-group">
            <label for="name">Task:</label>
            <input type="text" #name="ngModel" class="form-control" id="name" name="name" minlength="5"
                [(ngModel)]="task.name" required>
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                <div [hidden]="!name.errors.required">
                    Write the task.
                </div>
                <div [hidden]="!name.errors.minlength">
                    The task should have at least 5 characters.
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-success" value="Update" [disabled]="!formTask.form.valid"
                (click)="update()">
            <a class="btn btn-default" [routerLink]="['/tasks']">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Back
            </a>
        </div>
    </form>
</div>